@font-face {
	font-family: 'GE Dinar One Medium';
	src: url("../fonts/GEDinarOne-Medium.eot");
	src: url("../fonts/GEDinarOne-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/GEDinarOne-Medium.woff2") format("woff2"), url("../fonts/GEDinarOne-Medium.woff") format("woff")
}
@font-face {
	font-family: 'GE Dinar Two Medium';
	src: url("../fonts/GEDinarTwo-Medium.eot");
	src: url("../fonts/GEDinarTwo-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/GEDinarTwo-Medium.ttf") format("truetype"), url("../fonts/GEDinarTwo-Medium.svg#GEDinarTwo-Medium") format("svg")
}
button:focus {
	outline: 0 auto -webkit-focus-ring-color
}
a {
	-webkit-transition-duration: 1s;
	-moz-transition-duration: 1s;
	transition-duration: 1s;
	text-decoration: none !important;

	cursor: pointer
}
ul {
	list-style: none;
	padding-right: 0
}
.acolor{
  color:#fff;

}
.modal-footer{
  background:#fff;
  .sendBtn{
    background: #66bb6a !important;
  }
  .nonBtn{
    background: #ee4638 !important;
  }
}
select {
  -webkit-appearance: none;
  border-radius: 0;
  -webkit-border-radius: 0px;
  background: url(../images/arrow-down.png) #fff no-repeat 12px !important;
}
input[type="date"], input[type="time"], input[type="datetime-local"], input[type="month"] {
  -webkit-appearance: listbox;
}
$main: #096eb9;
$yellow:#aa9656;
$background-color: #f8f9fc;
$search-bg-color: #ffffff;
$icon-color: #4f8fe3;
$transition: all .5s ease;

$secondFont: 600 12px sans-serif;
// body {
// 	background: #f8f9fc;
// 	font-family: "GE Dinar Two Medium", Arial, sans-serif;
// 	overflow-x: hidden !important;
// 	direction: rtl;
// 	background: url(/assets/images/bg.png) no-repeat left -1170% #f8f9fc;
// }
body {
	background: #f8f9fc;
	font-family: "GE Dinar Two Medium", Arial, sans-serif;
	overflow-x: hidden !important;
	direction: rtl;
	background: url(/assets/images/bg.png) no-repeat left -390% #f8f9fc;
}
input:-webkit-autofill {
          -webkit-text-fill-color: none !important;
          }
          input:focus {
            outline-style: none;
            box-shadow: none;
            border-color: transparent;
            }
          input {
            box-shadow: none;
            border-radius: 0;
            position: relative;
            background: 0 0;
            z-index: 1;
            border-left: 0;
            border-right: 0;
            border-top: 0;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            padding: 0;
            background: #fcfcfc;
            }
            input {
              &::-webkit-outer-spin-button, &::-webkit-inner-spin-button, &::-webkit-calendar-picker-indicator {
                -webkit-appearamce: none !important;
                display: none;
              }
              &[type="time"] {
                &::-webkit-clear-button, &::-ms-clear {
                  display: none;
                }
              }
              &[type=text]::-ms-clear {
                display: none;
              }
            }



// loginPage
.loginconta {
	top: 0;
	right: 20%;
  margin-top: -7%;
	.blmd-wrapp {
	    border: 10px solid rgba(217, 217, 217, 0.2);
		height: auto;
		margin-top: 10vh;
		background: #fff;
		padding: 1em 0;
		position: relative;
		transition: height 0.5s;
		.blmd-header-wrapp {
			clear: both;
			position: relative;
			.blmd-switches {
				position: relative;
				z-index: 3;
				button {
					position: absolute;
					left: -30px;
					top: 35px;
					transition: all 1s;
				}
			}
		}
	}
	.blmd-wrapp .blmd-header-wrapp .blmd-switches>button.active {
		right: 53%;
		top: -45px;
		margin-right: -32px;
		background: #f0a532;
		transform: rotate(45deg);
		-webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		transition: all .5s;
	}
	.blmd-wrapp .blmd-continer {
		padding: 15px;
		height: auto;
		overflow: hidden;
	}
	.blmd-wrapp .blmd-continer form {
		// max-height: auto;
		transition: all 0.5s;
	}
	.blmd-wrapp .blmd-continer form>h1 {
		padding: 15px 0 15px 30px;
		margin-right: -15px;
		margin-left: -15px;
		position: relative;
	}
	.blmd-wrapp .blmd-continer form.form-hidden {
		max-height: 0;
		overflow: hidden;
		margin: 0;
		transition: all 0.5s;
	}
	.blmd-wrapp .blmd-continer form#Register-form .blmd-form .blmd-line:after {
		background: #ffc066;
	}
	.blmd-wrapp .blmd-continer form#Register-form .blmd-form .form-control {
		color: #fff;
	}
	.blmd-wrapp .blmd-continer form#Register-form .blmd-form .blmd-label {
		color: #fff;
	}
	.blmd-wrapp .blmd-continer form#Register-form.animate {
		-webkit-animation: fadein .75s;
		-moz-animation: fadein .75s;
		-ms-animation: fadein .75s;
		-o-animation: fadein .75s;
		animation: fadein .75s;
	}
	.blmd-wrapp .blmd-continer form#Register-form.animate-out {
		-webkit-animation: fadeout .75s;
		-moz-animation: fadeout .75s;
		-ms-animation: fadeout .75s;
		-o-animation: fadeout .75s;
		animation: fadeout .75s;
	}
	.blmd-wrapp .blmd-color-conatiner {
		position: absolute;
		right: 0;
		top: 0;
		left: 0;
		bottom: 0;
		border-radius: 0;
		border-bottom: 5px solid #096eb9;
	}
	.btn-blmd.btn:focus, .btn-blmd.btn:active, .btn-blmd.btn.active, .btn-blmd.btn:active:focus, .btn-blmd.btn.active:focus {
		outline: 0;
		outline-offset: 0;
		-moz-box-shadow: none;
		-webkit-box-shadow: none;
		box-shadow: none;
	}
	.btn-blmd.btn.btn-circle.btn-lg {
		padding: 5px;
		border-radius: 0;
		width: 40px;
		height: 40px;
		left: 0;
		img {
			width: 100%
		}
	}
	.ripple-effect {
		position: relative;
		overflow: hidden;
		-webkit-transform: translate3d(0, 0, 0);
		-moz-transform: translate3d(0, 0, 0);
		-ms-transform: translate3d(0, 0, 0);
		-o-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	.ink {
		display: block;
		position: absolute;
		pointer-events: none;
		border-radius: 50%;
		-webkit-transform: scale(0);
		-moz-transform: scale(0);
		-ms-transform: scale(0);
		-o-transform: scale(0);
		transform: scale(0);
		background: rgba(0, 0, 0, 0.2);
		background: -webkit-radial-gradient(rgba(0, 0, 0, 0.2) 0, rgba(0, 0, 0, 0.3) 40%, rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, 0.5) 60%, rgba(255, 255, 255, 0) 70%);
		background: -o-radial-gradient(rgba(0, 0, 0, 0.2) 0, rgba(0, 0, 0, 0.3) 40%, rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, 0.5) 60%, rgba(255, 255, 255, 0) 70%);
		background: -moz-radial-gradient(rgba(0, 0, 0, 0.2) 0, rgba(0, 0, 0, 0.3) 40%, rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, 0.5) 60%, rgba(255, 255, 255, 0) 70%);
		background: radial-gradient(rgba(0, 0, 0, 0.2) 0, rgba(0, 0, 0, 0.3) 40%, rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, 0.5) 60%, rgba(255, 255, 255, 0) 70%);
		opacity: 0.5;
	}
	.ink.animate {
		-webkit-animation: ripple .75s linear;
		-moz-animation: ripple .75s linear;
		-o-animation: ripple .75s linear;
		animation: ripple .75s linear;
	}
	@keyframes ripple {
		100% {
			opacity: 0;
			-moz-transform: scale(2.5);
			-ms-transform: scale(2.5);
			-o-transform: scale(2.5);
			-webkit-transform: scale(2.5);
			transform: scale(2.5);
		}
	}
	@-webkit-keyframes ripple {
		100% {
			opacity: 0;
			-webkit-transform: scale(2.5);
			-moz-transform: scale(2.5);
			-ms-transform: scale(2.5);
			-o-transform: scale(2.5);
			transform: scale(2.5);
		}
	}
	@-moz-keyframes ripple {
		100% {
			opacity: 0;
			-moz-transform: scale(2.5);
			-ms-transform: scale(2.5);
			-o-transform: scale(2.5);
			-webkit-transform: scale(2.5);
			transform: scale(2.5);
		}
	}
	@-ms-keyframes ripple {
		100% {
			opacity: 0;
			-ms-transform: scale(2.5);
			transform: scale(2.5);
		}
	}
	@-o-keyframes ripple {
		100% {
			opacity: 0;
			-o-transform: scale(2.5);
			-moz-transform: scale(2.5);
			-ms-transform: scale(2.5);
			-webkit-transform: scale(2.5);
			transform: scale(2.5);
		}
	}
	.ripple-effect-All {
		position: relative;
		overflow: hidden;
		-webkit-transform: translate3d(0, 0, 0);
		-moz-transform: translate3d(0, 0, 0);
		-ms-transform: translate3d(0, 0, 0);
		-o-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	.ink-All {
		display: block;
		position: absolute;
		pointer-events: none;
		border-radius: 50%;
		-webkit-transform: scale(0);
		-moz-transform: scale(0);
		-ms-transform: scale(0);
		-o-transform: scale(0);
		transform: scale(0);
		background: #000;
		opacity: 1;
	}
	.ink-All.animate {
		-webkit-animation: ripple-All 1.5s cubic-bezier(0.4, 0, 1, 1);
		-moz-animation: ripple-All 1.5s cubic-bezier(0.4, 0, 1, 1);
		-o-animation: ripple-All 1.5s cubic-bezier(0.4, 0, 1, 1);
		animation: ripple-All 1.5s cubic-bezier(0.4, 0, 1, 1);
	}
	@keyframes ripple-All {
		100% {
			opacity: 1;
			-moz-transform: scale(2.5);
			-ms-transform: scale(2.5);
			-o-transform: scale(2.5);
			-webkit-transform: scale(2.5);
			transform: scale(2.5);
		}
	}
	@-webkit-keyframes ripple-All {
		100% {
			opacity: 1;
			-webkit-transform: scale(2.5);
			-moz-transform: scale(2.5);
			-ms-transform: scale(2.5);
			-o-transform: scale(2.5);
			transform: scale(2.5);
		}
	}
	@-moz-keyframes ripple-All {
		100% {
			opacity: 1;
			-moz-transform: scale(2.5);
			-ms-transform: scale(2.5);
			-o-transform: scale(2.5);
			-webkit-transform: scale(2.5);
			transform: scale(2.5);
		}
	}
	@-ms-keyframes ripple-All {
		100% {
			opacity: 1;
			-ms-transform: scale(1.5);
			transform: scale(1.5);
		}
	}
	@-o-keyframes ripple-All {
		100% {
			opacity: 1;
			-o-transform: scale(1.5);
			-moz-transform: scale(1.5);
			-ms-transform: scale(1.5);
			-webkit-transform: scale(1.5);
			transform: scale(1.5);
		}
	}
	@keyframes fadein {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}
	@-moz-keyframes fadein {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}
	@-webkit-keyframes fadein {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}
	@-ms-keyframes fadein {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}
	@-o-keyframes fadein {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}
	@keyframes fadeout {
		from {
			opacity: 1;
		}
		to {
			opacity: 0;
		}
	}
	@-moz-keyframes fadeout {
		from {
			opacity: 1;
		}
		to {
			opacity: 0;
		}
	}
	@-webkit-keyframes fadeout {
		from {
			opacity: 1;
		}
		to {
			opacity: 0;
		}
	}
	@-ms-keyframes fadeout {
		from {
			opacity: 1;
		}
		to {
			opacity: 0;
		}
	}
	@-o-keyframes fadeout {
		from {
			opacity: 1;
		}
		to {
			opacity: 0;
		}
	}
	.blmd-form {
		margin: 3rem 0;
		position: relative;
		width: 100%;
	}
	.blmd-form .input-group-addon {
		border-width: 0 0 1px;
		min-width: 42px;
		padding: 6px 12px;
		font-size: 13px;
		font-weight: 400;
		line-height: 1;
		color: #2e353b;
		text-align: center;
		background-color: transparent;
		border: 1px solid transparent;
		border-radius: 0;
	}
	.blmd-form .blmd-line {
		display: inline-block;
		width: 100%;
		position: relative;
		vertical-align: top;
	}
	.blmd-form .blmd-line.blmd-toggled:after {
		-webkit-transform: scale(1);
		-ms-transform: scale(1);
		-o-transform: scale(1);
		transform: scale(1);
	}
	.blmd-form .blmd-line.blmd-toggled.hf:after {
		display: none;
	}
	.blmd-form .blmd-line.blmd-toggled .blmd-label {
		top: -10px;
		font-size: 11px;
	}
	.blmd-form .blmd-line:after {
		-webkit-transform: scale(0);
		-ms-transform: scale(0);
		-o-transform: scale(0);
		transform: scale(0);
		background: $main;
		position: absolute;
		z-index: 3;
		bottom: 0;
		left: 0;
		height: 2px;
		width: 100%;
		content: "";
		-webkit-transition: all;
		-o-transition: all;
		transition: all;
		-webkit-transition-duration: .3s;
		transition-duration: .3s;
	}
	.blmd-form .form-control {
		box-shadow: none;
		border-radius: 0;
		position: relative;
		background: 0 0;
		z-index: 1;
		border-left: 0;
		border-right: 0;
		border-top: 0;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		padding: 0;
	}
	.blmd-form .blmd-label {
		-webkit-transition: all;
		-o-transition: all;
		transition: all;
		-webkit-transition-duration: .2s;
		transition-duration: .2s;
		position: absolute;
		top: 5px;
		font-weight: 400;
		color: #3c4a44;
		pointer-events: none;
		z-index: 0;
		right: 0;
		white-space: nowrap;
	}
	.form-control:focus {
		border-color:$main;
	}
	.loginIco {
		width: 15%;
		vertical-align: bottom;
	}
	.title-img {
		width: 25%;
		vertical-align: bottom;
	}
	.title {
		color: $main;
	}
	.title-2 {
		color: white;
	}
	.forgetPass {
		color: $main
	}
	.btn-success:not(:disabled):not(.disabled):active, .btn-success:not(:disabled):not(.disabled).active, .show>.btn-success.dropdown-toggle {
		border-color: $yellow;
	}
}
.bannerImg {
	width: 100%;
}
.visionImg {
	position: absolute;
	z-index: 9;
	left: 20px;
	width: 8%;
}
.site-feedback {
	background: #c83b1f;
	z-index: 100000;
	color: #fff;
	font-size: 25px;
	padding: 10px 15px;
	border-radius: 55%;
	cursor: pointer;
	position: fixed;
	bottom: 20%;
	display: none;
	left: 15px;
}
.rege-btn {
	background:#0c6eb9 !important;
	color: white;
}
.rege-btn:hover{
	color: #fff;
}
.reger-btn {
	background: $main;
	color: white;
}
.lfooter {
	color: $main;
	font-size: 14px;
}
.foote_span {
	color: $main;
	font: 600 12px sans-serif;
	a {
		text-decoration: underline;
	}
}
.login-fluid {
	border-bottom: 7px solid #0a5e9b;
}
#footer {
	position: relative;
	width: 100%;
	bottom: 0;
  background: #fff;
  color: $main;




}
.topMenu {
	box-shadow: 0 6px 14px 0 rgba(52, 69, 88, .08)!important;
	background: #fff;
	// 	position: fixed;
	// top: 0;
	// z-index: 999;
}
.logobg {
	background: #c39e47;
// border-left: 14px solid #3196e3;
	-webkit-transform: skewX(-19deg);
  transform: skewX(-19deg);
	height: 86px;
	img {
		width: 70px;
		-webkit-transform: skewX(19deg);
		transform: skewX(19deg);
	}
	i {
		color: white;
		-webkit-transform: skewX(19deg);
		transform: skewX(19deg);
		font-size: 26px;
		vertical-align: middle;
  }
  .lotitle{
    -webkit-transform: skewX(19deg);
    transform: skewX(19deg) !important;
    a{
      color: #fff;
      -webkit-text-shadow:2px 2px #b48a26;
      -moz-text-shadow:2px 2px #b48a26;
      text-shadow: 2px 2px #b48a26;
      text-decoration: none;
      font-size: 23px;
    }
  }
}
.left-menu {
	margin-top: 25px;
	text-align: left;
	a {
		color: black
	}
	i {
		color: white
	}
	.guid {
		i {
			background: #95c347;
			margin-top: 0;
		}
	}
	.user {
		i {
			background: #947b51;
			margin-top: 0;
		}
  }
  .controlP {
    i {
      background: #009889;
      margin-top: 0;
  }
  }

	.lang {
		i {
			background: #4f8fe3;
			margin-top: 0;
		}
	}
	.exit {
		i {
			background: #c83b1f;
			-webkit-transform: rotate(541deg);
			transform: rotate(541deg);
			font-size: 18px;
			margin-top: 0;
		}
  }
  img{
    width: 70px;
  }
  .unLogo{
    width: 90px;
  }
}


#menu {
  float: right;
  text-align: right;
  margin: 0;
  padding: 0;
  width: auto;
  ul {
    margin: 0;
    padding: 0;
    width: 100%;
  }
  li {
    list-style-type: none;
    padding: 2px 4px;
  }
  .menu-header {
    cursor: pointer;
    background: #0c6eb9;
    color: #fff;
    ul {
      display: none;
      background: #0c6eb9;
      position: absolute;
      z-index: 999999;
    }
    li {
      cursor: pointer;
      text-align: right;
      font-weight: normal;
      &:hover {
        background-color: #0c6eb9;
        color: #62555c;
      }
    }
    &:hover ul {
      display: block;
      z-index: 500;
      /* position: fixed; */
      max-width: 380px;
    }
  }
}

.nav-link {
  color: #6d9529;
}

#menu .menu-header li {
  background: #3196e3;
  border-right: 5px solid #0c6eb9;
  margin: 5px 0;
  a {
    color: #fff;
  }
}

img {
  width: 30px;
}
.morecomm{
  background:#FF9800 !important;
}
.committee {
	.title {
		background: #c83b1f;
		color: white; // height: 230px;
		font-size: 19px;
		a {
			color: white;
			font-size: 12px;
			border: 1px solid white;
			display: block;
		}
		img {
			width: 50px;
			margin-top: 50px;
		}
	}
	.details {
		background: white;
		 box-shadow: -12px 12px 40px 0 rgba(120,120,120,0.21);
		height: 230px;
		.carousel-control-next {
			// left: 0;
			right: 90%;
			top: 0;
			position: absolute;
			display: block;
			left: 25px;
		}
		.carousel-control-prev {
			position: absolute;
			display: block;
			left: 5px;
		}
		.carousel-control-prev, .carousel-control-next {
      width: 3%;
			i {
				color: #c83b1f;
			}
			opacity: 1;
		}
		.carousel-item {
			color: #c83b1f;
			ul {
				li {
					background: #f8f9fc;
					width: 100%;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
					i {
						color: black;
					}
					a {
						color: black;
						overflow: hidden;
						text-overflow: ellipsis;
					}
				}
			}
			.commit-details {
				color: #c83b1f;
				font-size: 12px;
				border: 1px solid #c83b1f;
				display: block;
			}
		}
	}
}
.Signature {
	.title {
		background: #95c347;
		color: white;
		font-size: 15px;
		a {
			color: white;
			font-size: 12px;
			border: 1px solid white;
			display: block;
		}
		img {
			width: 50px;
			margin-top: 50px;
		}
	}
	.details {
		background: #fff;
		box-shadow: -12px 12px 40px 0 rgba(120,120,120,0.21);
		width: 366px;
		overflow-y: hidden;
		ul {
			li {
				background: #f8f9fc;
				width: 100%;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				a {
					color: black;
					font-size: 13px;
					overflow: hidden;
					text-overflow: ellipsis;
				}
				img {
					background: #62555c;
					width: 30px;
				}
			}
		}
	}
}
.section-title {
	text-align: center; // margin-bottom: 70px;
	margin-top: 0;
	position: relative;
	color: #c93b20;
}
.section-title>span:before {
	content: '';
	position: absolute;
	width: 260px;
	height: 2px;
	background-color: #c93b20;
	left: -150px;
	top: 50%;
}
.section-title>span:after {
	content: '';
	position: absolute;
	width: 260px;
	height: 2px;
	background-color: #c93b20;
	right: -150px;
	top: 50%;
}
// #icons-sect {
// 	// background: #fff;
// 	// box-shadow: -12px 12px 40px 0 hsla(0,0%,47%,.21);
// }
.ico-container {
	min-height: 350px;
	.commit-tasks{
			background: #fff;
			box-shadow: -12px 12px 40px 0 hsla(0,0%,47%,.21);
			.title{
			  	height: 30%;
			    padding: 10px;
			    color: #fff;
			    top: 30px;
			    background: #62555c;
			    font-size: 15px;
					    right: -96px;
							margin-bottom: 50px;
							box-shadow: -10px 0px 21px -15px rgba(120, 120, 120, 0.8);
							img{
								width: 50px;
							}
			}
	}
.Administrative-tasks{
	@extend .commit-tasks;
	// background: #eff2fa;
	.title{
		 background: #95c347;
	}
}


	.ico {
		a {
			width: 100px;
			height: 100px; // background: #80bb11;
			display: block;
			color: black;
			img {
				width: 100%!important;
			}
		}
	}
	/* Rectangle In */
	.ico-h {
		// display: inline-block;
		vertical-align: middle;
		-webkit-transform: perspective(1px) translateZ(0);
		transform: perspective(1px) translateZ(0);
		box-shadow: 0 0 1px rgba(0, 0, 0, 0);
		position: relative;
		background: #01b8cc;
		-webkit-transition-property: color;
		transition-property: color;
		-webkit-transition-duration: 0.3s;
		transition-duration: 0.3s;
		border-radius: 50% !important;
		&:before {
			content: "";
			position: absolute;
			z-index: -1;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: #01b8cc;
			-webkit-transform: scale(1);
			transform: scale(1);
			-webkit-transition-property: transform;
			transition-property: transform;
			-webkit-transition-duration: 0.3s;
			transition-duration: 0.3s;
			-webkit-transition-timing-function: ease-out;
			transition-timing-function: ease-out;
			border-radius: 50% !important;
		}
		&:hover {
			// color: white;
			background: #019fb0;
		}
		&:focus {
			// color: white;
			background: #019fb0
		}
		&:active {
			// color: white;
			background: #019fb0
		}
	}
	.ico-h:hover:before, .ico-h:focus:before, .ico-h:active:before {
		-webkit-transform: scale(0);
		transform: scale(0);
	}
	.ico-h-2 {
		@extend.ico-h;
		background: #c83b1f;
	}
	.ico-h-2:before {
		@extend .ico-h-2:before;
		background: #c83b1f;
	}
	.ico-h-2:hover {
		@extend.ico-h-2:hover;
		background: #ac2d14;
	}
	.ico-h-3 {
		@extend.ico-h;
		background: #37309c;
	}
	.ico-h-3:before {
		@extend.ico-h-2:before;
		background: #37309c;
	}
	.ico-h-3:hover {
		@extend.ico-h-2:hover;
		background: #252078;
	}
	.ico-h-4 {
		@extend.ico-h;
		background: #62555c;
	}
	.ico-h-4:before {
		@extend.ico-h-2:before;
		background: #62555c;
	}
	.ico-h-4:hover {
		@extend.ico-h-2:hover;
		background: #493e44;
	}
	.ico-h-5 {
		@extend.ico-h;
		background: #ff6949;
	}
	.ico-h-5:before {
		@extend.ico-h-2:before;
		background: #ff6949;
	}
	.ico-h-5:hover {
		@extend.ico-h-2:hover;
		background: #e84d2c;
	}
	.ico-h-6 {
		@extend.ico-h;
		background: #cfa968;
	}
	.ico-h-6:before {
		@extend.ico-h-2:before;
		background: #cfa968;
	}
	.ico-h-6:hover {
		@extend.ico-h-2:hover;
		background: #b18d4e;
	}
	.ico-h-7 {
		@extend.ico-h;
		background: #ff3b6e;
	}
	.ico-h-7:before {
		@extend.ico-h-2:before;
		background: #ff3b6e;
	}
	.ico-h-7:hover {
		@extend.ico-h-2:hover;
		background: #e52154;
	}
	.ico-h-8 {
		@extend.ico-h;
		background: #019889;
	}
	.ico-h-8:before {
		@extend.ico-h-2:before;
		background: #019889;
	}
	.ico-h-8:hover {
		@extend.ico-h-2:hover;
		background: #027b6f;
	}

	.ico-h-9 {
		@extend.ico-h;
		background: #096eb9;
	}
	.ico-h-9:before {
		@extend.ico-h-2:before;
		background: #096eb9;
	}
	.ico-h-9:hover {
		@extend.ico-h-2:hover;
		background: #024e86;
	}

}
.dropdown {
	cursor: pointer;
	// width: 100%;
	// z-index: 259;
	// position: fixed !important;
	// left: 83.5%;
	// top: 4%;
	background: #A99658;
color: #fff;
text-align: right;
	.no-span{
		background: #fd3e20;

width: 10px;
height: 10px;
position: absolute;
text-align: center;
color: #fff;
left: -7px;
top: -5px;
	}
	i {
		color: white;
		font-size: 20px
	}
	.dropdown-menu {
		width: 410px;
		left: -109.5% !important;
		padding: 10px;
		.dropdown-item {
			font-size: 14px;
			width: 100%;
			background: #f8f9fc;
			padding: 2px;
			margin: 5px 0;
			img {
				background: #ff6949;
				width: 8%;
			}
		}
	}
}
@media screen and (max-width: 700px) {
	.section-title>span:before {
		width: 120px;
	}
	.section-title>span:after {
		width: 120px;
	}
	.dropdown {
		top: -17% !important;
		.dropdown-menu {
			left: -17% !important;
		}
	}
	.loginconta {
		right: 0
	}
	.visionImg {
		width: 20%
	}
	.logobg {
		-webkit-transform: skewX(0deg);
		transform: skewX(0deg);
		img {
			width: 60px;
			-webkit-transform: skewX(0deg);
			transform: skewX(0deg);
		}
		i {
			-webkit-transform: skewX(0deg);
			transform: skewX(0deg);
		}
	}
	.logobg {
		height: 70px;
	}
	.left-menu {
		height: 130px !important;
		text-align: right;
		position: inherit;
		.lang {
			i {
				margin-top: 10px;
			}
		}
		.exit {
			i {
				margin-top: 10px;
			}
		}
	}
	.committee {
		.title {
			// height: 67px;
			img {
				display: inline-block;
				margin-top: 0;
			}
			a {
				display: inline-block;
			}
		}
	}
	.Signature {
		.title {
			// height: 67px;
			img {
				display: inline-block;
				margin-top: 0;
			}
			a {
				display: inline-block;
			}
		}

		 .details {
			     width: 100%;
ul{
	li{
		background: #f8f9fc;
		width: 100%;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}
}
	}

.commit-tasks{
		.title{
			    right:0 !important;
		}
	}

	.Administrative-tasks{

		.title{
					right:0 !important;
		}

		}

	.footer {
		position: relative;
	}
}
.notification {
	width: 250px;
	display: block;
	position: fixed;
	z-index: 9999;
	top: 25%;
	background: #fff;
	border-radius: 20px 0 0 20px;
	box-shadow: 0 6px 14px 0 rgba(52, 69, 88, 0.08) !important;
	p {
		display: inline-block;
		vertical-align: text-top;
		margin-bottom: 9px;
	}
	.close {
		float: left;
		color: #fe433a;
		opacity: 1;
		position: absolute;
		left: 7px;
		top: 16px;
	}
}
.notification svg {
	width: 20px;
	height: 28px;
	display: inline-block;
	margin: 2px 0 0 14px;
}
.notification svg>path {
	fill: #fe433a;
}
.notification--bell {
	animation: bell 2s linear infinite;
	transform-origin: 50% 0%;
}
.notification--bellClapper {
	animation: bellClapper 2.2s 0.1s linear infinite;
}
@keyframes bell {
	0%, 25%, 75%, 100% {
		transform: rotate(0deg);
	}
	40% {
		transform: rotate(10deg);
	}
	45% {
		transform: rotate(-10deg);
	}
	55% {
		transform: rotate(5deg);
	}
	60% {
		transform: rotate(-5deg);
	}
}
@keyframes bellClapper {
	0%, 25%, 75%, 100% {
		transform: translateX(0);
	}
	40% {
		transform: translateX(-0.35em);
	}
	45% {
		transform: translateX(0.35em);
	}
	55% {
		transform: translateX(-0.1em);
	}
	60% {
		transform: translateX(0.1em);
	}
}
@keyframes notification {
	0%, 25%, 75%, 100% {
		opacity: 1;
	}
	30%, 70% {
		opacity: 0;
	}
}
.info-ico {
	top: 0;
	position: absolute;
	padding: 10px;
	right: 0;
}

.modal{
	    background: rgba(14,42,71,0.9);
	.close{
		margin: -16px;
background: #c83b1f;
    opacity: 1;
		color: white;
	}
	.modal-footer{
		.btn{
			background: #019889;
			color: #fff;
		}
	}
}


.seetings{
  width: 100px;
  border-radius: 6%;
  text-align: center;
  // height: 50px;
  position: fixed;
  left: 15px;
  bottom:200px;    padding: 0;    padding-bottom: 15px;
  cursor: pointer;
  display: none;
  background: #fff;
  box-shadow: 0 6px 14px 0 rgba(52,69,88,0.08) ;

  #scroll-top {
    display:block;
    padding: 10px;
    margin-bottom: 10px;
    color: #5388f9;
    border-bottom: 1px solid rgba(0, 0, 0, 0.03);
    transition: all .4s ease;
    font-size: 14px;

    }

    button{
      color: #c83b1f;
      background:none;
    }


     i{
       vertical-align: middle;
     }



}




// start Category

.mainMenu{
  position: absolute;
  left: -30px;
  background: #423794;
  width: 451px;
  float: left;
  margin: 0;
  -webkit-transform: skewX(-19deg);
  -moz-transform: skewX(-19deg);
  transform: skewX(-19deg);
    li{
      // margin: 0 10px;
      border-left: 1px solid #5240ac;
      -webkit-transform: skewX(18deg);
      -moz-transform: skewX(18deg);
      transform: skewX(18deg);
      transition: all 0.5s ease;
      &:hover{
        background: #c83b1f;
      }
      &:last-child{
        border-left:none;
      }
      a{
        color:#fff;
        text-decoration: none;
        //  margin-left: 20px;

        img{
          // margin-left: 20px;
          margin-bottom: 5px;
        }
      }
    }


}


.searchcon{
 .submitbtn{
  background: #006ebf;
  color: #fff;
  border: 0;
 }
.inpstyl{
  width: 291px;
  background: #fff;
  padding: 2px 10px 1px 0;
  border-bottom: 0;
}

}


.categoryContainer{
  .nav-item{
    width: 50%;
    text-align: center;
    color:#fff !important;
  }
  .nav-link{
    color:#fff !important;
    border:none !important;
    font-size: 20px;
    img{
      width: 50px;
    }
  }

  .nav-item {
    background: #9d8a70 !important;
  }
  .nav-item .active{
    background:#047166 ;
  }



.maintitle{
  flex-direction: row;
}

  .green{
    box-shadow: 0 6px 14px 0 rgba(52,69,88,0.08) !important;
    background: #fff;
    border-right:5px solid #95c347;
    h5{
      color:#95c347;

    }
    span{
     border:1px solid #4f8fe3;
     color:#4f8fe3;
     transition: all 0.5s ease;
     a{
       text-decoration: none;
     }
     &:hover{
      //  background:rgba(79, 143, 227, 0.36);
       border:1px solid #cb9d30;
     }
    }
.details{
  a{
    color:#4f8fe3;
  }
}
  }

  .red{
    @extend .green;
    border-right:5px solid #ee4638;
    h5{ color:#ee4638;}
  }


  .blue{
    @extend .green;
    border-right:5px solid #5f93e7;
    h5{
      color:#5f93e7;

    }

  }

  .brown{
    @extend .green;
    border-right:5px solid #9e8a71;
    h5{
      color:#9e8a71;

    }

  }

.buttonss{
  border-top: 1px solid #ece9e9;
}
a{
  color:#000;
}
   .cate{
     background:#f8f9fc;
     vertical-align: middle;
     border-radius:0;
.badge{
  color: #fff;
    background: #ee4638;
  font: $secondFont;
  font-size: 14px;
  margin-right: 15px;
  font-weight: 800;
  vertical-align: middle;


}
img{
  width: 20px;
}

   }


}


.standing{
  background:#95c347;
  color:#fff !important;
  font-size:20px;
}
.temp{
  @extend .standing;
  background:#ee4638;

}
.sub{
  @extend .standing;
  background:#5f93e7;
}

.deansiss{
  @extend .standing;
  background:#9e8a71;
}

@media screen and (max-width: 700px) {
  .cate{
    width: 100%;
    text-align: right;
  }

  .standing{
    width: 100%;
  }
  .temp{
    width: 100%;


  }
  .sub{
    width: 100%;

  }

.maintitle{
  flex-direction: column !important;
}
}

.CommityDetails{

  .CommityTitle{
    background: #505a78;
    color: #fff;
  }


  .maindetails{
    background:#fff;
    box-shadow: 0 6px 14px 0 rgba(52,69,88,0.08) !important;
    text-align: right;
    h4{
      color:#ee4638;
    }
    p{
      background: #f8f9fc;
      line-height: 2;
    }
    a{
      color:#000;
    }
    .userspro{
      background: #f8f9fc;
      border-left: 1px solid #e5e6ea;
      border-bottom: 1px solid #e5e6ea;

      &:last-child{
        border-left: none;
      }
      i{
        color:#ee4638;
      }
    }

    .mainbuttons{
      .comfilesbg{
        background: #4f8fe3;
        color:#fff;
      }
      .comachbg{
        background: #62555c;
        color:#fff;
      }

      .modal .close{
        padding: 10px;
      }

        .modal-content{
          top: 40px;
          background:none;
        }

        .comfiles{
          background: rgba(39, 86, 148, 0.85);
          h6{
            background: #4f8fe3;
            color:#fff;
            width: 142px;

          }

          .filess{
            background:#fff;
            box-shadow: 0 6px 14px 0 rgba(52,69,88,0.08) !important;
            i{
              font-size: 28px;
            }
            .title{
              flex-grow:3;
              text-align: right;
            }
            .down{
              i{
                color: #4f8fe3;
              }
            }
            .trash{
              i{
                color:#ee4638;
              }
            }

          }
        }

        .achcontainer{
          background:#fff;
          box-shadow: 0 6px 14px 0 rgba(52,69,88,0.08) !important;
          img{
            width: 20px;
            vertical-align: sub;
          }
          .down{
            font:$secondFont;
          }
        }
          .comach{
            background: rgba(98, 85, 92, 0.8901960784313725);
            h5{
              background: #ee4638;
              color:#fff;
              width: 182px;

            }

            h6{
              background: #4f8fe3;
              color:#fff;
              width: 142px;

            }
            .title{
              flex-grow:3;
              text-align: right;
            }
          }

    }

  }
}







.SissionDetails{

  .Sissiontitle{
    background: #62555c;
    color: #fff;

    .modal{
      background: rgba(34, 45, 93, 0.9);
      h5{
        background: #66bb6a;
        padding: 10px;
      }
      .modal-content{
        background:none;
      }
      .modal-body{
        background:#fff;
        .form-check{
          color:#000;

          .form-check-input{
            margin-left: 10px;
          -webkit-appearance: checkbox;
            -moz-appearance: checkbox;

          }
        }
       .form-group{
         background: #eeedf3;
         text-align: right;
         color:#000;
         padding: 10px;
         font-weight: 600;
         margin: 0 10px;
         img{
          width: 16px;


         }
         .textsty{
          height: 39px;
        }

         .form-control {
          outline: none;
          background-color: #ffffff;
          border: 1px solid #e6e6e6;
          border-radius: 0;
          resize: none

      }


      .engno{
        font:$secondFont;
        font-weight: 700;
        width: 29%;
        margin: 0 20px;
      }


       }





      }
      .modal-footer{
        background:#fff;
        .sendBtn{
          background: #66bb6a;
        }
        .nonBtn{
          background: #ee4638;
        }

      }

    }

    .maintitle{
      h5{
        margin-top:10px;
      }
    }
  }

  .sissionPage{
    background:#4f8fe3;
    i{
      vertical-align: middle;
    }
  }

  .maindetails{
    background:#fff;
    box-shadow: 0 6px 14px 0 rgba(52,69,88,0.08) !important;
    // text-align: right;
    color:#fff;
    a{
      color:#fff;
    }




    .bigIco{
      a{
        color:#000;
      }
      img{
        width: 130px !important;
        height: 130px;
      }
      .grayBtn{
        background:#a8a8a8;
        -webkit-transition-duration: 1s;
        -moz-transition-duration: 1s;
        transition-duration: 1s;

        &:hover{
          opacity: .5;
        }
      }

      .orangBtn{
        @extend .grayBtn;
        background:#fe763a;
      }
      .redBtn{
        @extend .grayBtn;
        background:#f2405d;
      }

    }


    .topDetails{
      background:#fbfbfb;;
      .sissionName{
        background:#01b8cc;

      }
      .sissionPage{
        background:#4f8fe3;
      }
      // .sissionedit{}
       .sissionNew{
        background:#66bb6a;
        flex-grow: 1;
      }
      .sissionsu{
        background:#c5c5c5;
        flex-grow: 1;
      }

      .sissiontoSig{
        background:#fe763a;
        flex-grow: 1;
      }

      .sissiontoToApprov{
        background:#e03004;
        flex-grow: 1;
      }


      .sissiontoToCont{
        background:#507c05;
        flex-grow: 1;
      }

      .sissiontoFInished{
        background:#89d704;
        flex-grow: 1;
      }

      .sissionplace{
        background:#f4811e;
        flex-grow: 1;

        img{
          width: 20px;
        }

  }

      .sissionremove{  i{
        color:#f2405d;
        font-size: 26px;
      }}
      .sissionTime{
        background:#f2405d;
        font:$secondFont;
        font-size: 16px;
        border-left: 1px solid #ff527d;
        letter-spacing: 1px;
        img{
          width: 20px;
          vertical-align: bottom;
          margin-top: 5px;
        }

   }

  }}
}

.usertittle{
  color:#000;
  text-align: right;
}
.sissonallDetails{
  color:#000;
  background: #f8f9fc;



  // start user details
  .userentryTime{
    display: flex;
    flex-grow: 5;

  .mainuser{
    background: #fff;
    border-right: 5px solid #66bb6a;

    img{
      width: 14px;
    }
    .username {
      flex-grow: 1;
    }
    .timeent{
      color:#fe763a;
      span{
        color:#000;
        font:$secondFont;
        font-size: 14px;
      }

    }

  }
  }
  // end user details

  // start user details
.leftBtn{

  .sissionPageIn{
    background: #3a4989;
    img{
      width: 9px;
    }
    &:hover{
      opacity:.8;
      @extend a
    }
  }


.sissionpaper{
  background: #66bb6a;
  img{
    width: 23px;
  }
  &:hover{
    opacity:.8;
    @extend a
  }
}
.sissionappology{
  background: #ee4638;
  color:#fff;
  img{
    width: 23px;
  }

}

    }

    .modal {
      background: rgba(45, 33, 60, 0.9);
      .modal-content{
        background-color: rgba(255, 255, 255, 0);
      }
    .modal-body{
      background:#fff;
      .form-control{
        resize: none;
        background: #efefef;
        border: 0;


      }
    }
    }



    }

    .SessionSchedule{
      background: #ee4638;
      color:#fff;
      img{
        width: 23px;
      }
    }

    .Sessiondiss{

      .mainuser{
        background:#edeae3;
        color:#000;
        .suname{
          flex-grow: 1;
        }
        .sutime{
          span{
            background: #ee4638;
            color:#fff;
            font:$secondFont;
            font-size: 14px;
          }
        }
      }
.comment{
  .form-control{
    resize: none;
    background: #efefef;
    border: 0;
  }

}

    }
.lastcommtitle{
  background: #ccdef7 !important;
  .sutime{
    font:$secondFont;
    font-size: 14px;
  }
}
.lastcoment{
  color:#000;
  background:#f8f9fc;
}


.previousSubjects{
  color:#000;
  background:#d4d4d4 !important;
}
.sourceName{
  background: #11385f;
}

.spTitle{

}

.filestab{
  background:#f8f9fc !important;
  color:#11385f;
  text-align: right;
  img{
    background: #338fea;
  }
  a{
    color:#11385f !important;
    text-decoration: underline !important;
  }
}


.custom-file-input:lang(en) ~ .custom-file-label::after{
  content: "إختر ملف";
}
